<TABLE style="margin-top: 100px; margin-left: 200px; margin-right: 300px;">
<TR>
    <TD>
        <img src="{{ BASE_URL }}/static/images/SecureCheckPlusLogoHorizontal.png" width="50%">
        <BR>
        <BR>
        <DIV style="background-color: #f0f0f0;
            padding: 10px;
            margin-left: 50px;
            margin-right: 50px;
            text-align: justify;">
            <B>NOTE:</B> This is the default page provided in the Docker image of SecureCheckPlus by Accso.
            To change the content, provide an HTML page and mount it into the Docker container at
            <CODE>/backend/templates/includes/contact.html</CODE>.
        </DIV>
        <BR>
        <BR>
        This application SecureWebPlus by Accso was developed by the
        <A TARGET="_blank" HREF="https://accso.de/communities/devops-community">DevOps Community</A> at
        <A TARGET="_blank" HREF="https://accso.com/">Accso Accelerated Solutions</A> in Germany.
        It was made opensource and published at
        <A TARGET="_blank" HREF="https://github.com/accso/SecureCheckPlus">GitHub</A> in 2024.
        A manual about how to use the frontend is available
        <A TARGET="_blank" HREF="https://github.com/accso/SecureCheckPlus/blob/main/README-FRONTEND.md">here</A>.
        <BR>
        <BR>
        For more information see its
        <A TARGET="_blank" HREF="https://accso.com/securecheckplus">Accso Landing Page</A>.
        For any inquiries, write mail to
        <A HREF="mailto:secure-check-plus-by@accso.de">secure-check-plus-by@accso.de</A>. For contributions and bug
        reports, see the <A TARGET="_blank" HREF="https://github.com/accso/SecureCheckPlus/issues">GitHub issues</A>.
        <BR>
        <BR>
        <BR>
        <B>Operator of this Instance</B>
        <BR>
        <BR>
        Your contact information should be here!
        <BR>
    </TD>
</TR>
</TABLE>
