<TABLE style="margin-top: 100px; margin-left: 200px; margin-right: 300px;">
<TR>
    <TD>
        <img src="{{ BASE_URL }}/static/images/SecureCheckPlusLogoHorizontal.png" width="50%">
        <BR>
        <BR>
        <B>Privacy Policy</B>
        <BR>
        <BR>
        <DIV style="background-color: #f0f0f0;
            padding: 10px;
            margin-left: 50px;
            margin-right: 50px;
            text-align: justify;">
            <B>NOTE</B>: This is the default page provided in the Docker image of SecureCheckPlus by Accso.
            To change the content, provide an HTML page and mount it into the Docker container
            at <CODE>/backend/templates/includes/data-privacy.html</CODE>.
        </DIV>
        <BR>
        <BR>
        Nowadays, privacy is of particularly high importance. The use of this web application SecureCheckPlus by Accso
        is generally not possible without providing personal data.
        The legal basis for this is the legitimate interest. Both for the use and for ensuring IT security,
        personal data is collected and processed.
        <BR>
        <BR>
        The processing of personal data, such as an email address (see 5.1 Collection of Personal Data and Information)
        of the affected person, is always in accordance with the General Data Protection Regulation (GDPR) and in
        compliance with the country-specific data protection regulations applicable the operator of this application.
        With this privacy policy, our company wants to inform the public about the type, scope, and purpose of
        the personal data we collect, use, and process. Furthermore, this privacy policy informs affected persons
        about their rights.
        <BR>
        <BR>
        The controller responsible for the processing, has implemented
        numerous technical and organizational measures to ensure the most complete protection possible of personal
        data processed through this web application. However, internet-based data transmissions can generally have 
        security vulnerabilities, so absolute protection cannot be guaranteed.
        <BR>
        <BR>
        <B>1. Definitions</B>        
        <BR>
        <BR>
        The privacy policy of the operator is based on the terms used by the
        European legislator when issuing the General Data Protection Regulation (GDPR). Our privacy policy
        should be easy to read and understand for both the public and our customers and business partners. To
        ensure this, we would like to first explain the terms used.
        <BR>
        <BR>
        We use, among other things, the following terms in this privacy policy:
        <BR>
        <BR>
        <I>a) Personal data</I>
        <BR>
        <BR>
        Personal data means any information relating to an identified or identifiable natural person
        (hereinafter "data subject"). An identifiable natural person is one who can be identified, directly
        or indirectly, in particular by reference to an identifier such as a name, an identification number,
        location data, an online identifier, or to one or more factors specific to the physical,
        physiological, genetic, mental, economic, cultural, or social identity of that natural person.
        <BR>
        <BR>
        <I>b) Data subject</I>
        <BR>
        <BR>
        The data subject is any identified or identifiable natural person whose personal data is
        processed by the controller responsible for the processing.
        <BR>
        <BR>
        <I>c) Processing</I>
        <BR>
        <BR>
        Processing is any operation or set of operations which is performed on personal data, whether
        or not by automated means, such as collection, recording, organization, structuring, storage,
        adaptation or alteration, retrieval, consultation, use, disclosure by transmission, dissemination or
        otherwise making available, alignment or combination, restriction, erasure, or destruction.
        <BR>
        <BR>
        <I>d) Restriction of processing</I>
        <BR>
        <BR>
        Restriction of processing is the marking of stored personal data with the aim of limiting
        their processing in the future.
        <BR>
        <BR>
        <I>e) Profiling</I>
        <BR>
        <BR>
        Profiling is any form of automated processing of personal data consisting of the use of
        personal data to evaluate certain personal aspects relating to a natural person, in particular to
        analyze or predict aspects concerning that natural person's performance at work, economic situation,
        health, personal preferences, interests, reliability, behavior, location, or movements.
        <BR>
        <BR>
        <I>f) Pseudonymization</I>
        <BR>
        <BR>
        Pseudonymization is the processing of personal data in such a way that the personal data
        can no longer be attributed to a specific data subject without the use of additional information,
        provided that such additional information is kept separately and is subject to technical and
        organizational measures to ensure that the personal data are not attributed to an identified or
        identifiable natural person.
        <BR>
        <BR>
        <I>g) Controller or controller responsible for the processing</I>
        <BR>
        <BR>
        The controller or controller responsible for the processing is the natural or legal person,
        public authority, agency, or other body which, alone or jointly with others, determines the purposes
        and means of the processing of personal data. Where the purposes and means of such processing are
        determined by Union or Member State law, the controller or the specific criteria for its nomination
        may be provided for by Union or Member State law.
        <BR>
        <BR>
        <I>h) Processor</I>
        <BR>
        <BR>
        The processor is a natural or legal person, public authority, agency, or other body which
        processes personal data on behalf of the controller.
        <BR>
        <BR>
        <I>i) Recipient</I>
        <BR>
        <BR>
        The recipient is a natural or legal person, public authority, agency, or another body, to
        whom the personal data are disclosed, whether a third party or not. However, public authorities
        which may receive personal data in the framework of a particular inquiry in accordance with Union or
        Member State law shall not be regarded as recipients.
        <BR>
        <BR>
        <I>j) Third party</I>
        <BR>
        <BR>
        A third party is a natural or legal person, public authority, agency, or body other than the
        data subject, controller, processor, and persons who, under the direct authority of the controller
        or processor, are authorized to process personal data.
        <BR>
        <BR>
        <I>k) Consent</I>
        <BR>
        <BR>
        Consent is any freely given, specific, informed, and unambiguous indication of the data
        subject's wishes by which he or she, by a statement or by a clear affirmative action, signifies
        agreement to the processing of personal data relating to him or her.
        <BR>
        <BR>
        <B>2. Name and Address of the Controller</B>
        <BR>
        <BR>
        The controller for the purposes of the General Data Protection Regulation (GDPR), other data
        protection laws applicable in Member States of the European Union, and other provisions related to
        data protection is:
        <BR>
        <BR>
        <I>The contact information relating to the Controller should be here</I>
        <BR>
        <BR>
        <B>3. Name and Address of the Data Protection Officer</B>
        <BR>
        <BR>
        The Data Protection Officer of the controller is:
        <BR>
        <BR>
        <I>The contact information relating to the Data Protection Officer should be here</I>
        <BR>
        <BR>
        <B>4. Cookies</B>
        <BR>
        <BR>
        The web application SecureCheckPlus by Accso uses cookies. Cookies
        are text files that are stored on a computer system via an internet browser.

        Many internet sites and web applications use cookies. Many cookies contain a cookie ID. A cookie ID is a
        unique identifier of the cookie. It consists of a string of characters through which internet sites and
        web applications can be assigned to the specific internet browser in which the cookie was stored. This
        allows visited internet sites and servers to distinguish the data subject’s browser from other internet
        browsers that contain different cookies. A specific internet browser can be recognized and identified
        using the unique cookie ID.
        <BR>
        <BR>
        The application currently uses only technical cookies for session management or user
        recognition in the web application. The recognition makes the use of the web application
        easier. For example, the user does not have to re-enter their login details each time they visit the
        website or application because this is managed by the web application and the cookie stored on the user's
        computer system. Cookies are also used to ensure IT security, verifying executed requests, for example.
        <BR>
        <BR>
        The data subject can, at any time, prevent the setting of cookies through our web application by means of
        a corresponding setting of the internet browser used, and thus may permanently deny the setting of
        cookies. Already set cookies can also be deleted at any time via an internet browser or other software
        programs. This is possible in all common internet browsers. If the data subject deactivates the setting
        of cookies in the internet browser used, not all functions of our web application may be fully usable.
        <BR>
        <BR>
        <BR>
        <B>5. Collection of General Data and Information</B>
        <BR>
        <BR>
        The web application SecureCheckPlus by Accso collects a series of general data and
        information with each call-up by a data subject or an automated system. This general data and information
        are stored in the server log files. The following may be collected: (1) the requested address (URL), (2)
        the referring website (referrer), (3) the date and time of access, (4) an IP address, and (5) other
        similar data and information that may be used in the event of attacks on our IT systems.
        <BR>
        <BR>
        When using this general data and information, the application does not draw any
        conclusions about the data subject. This information is needed to (1) deliver the content of our web
        application correctly, (2) ensure the long-term viability of our IT systems and web application
        technology, and (3) provide law enforcement authorities with the information necessary for criminal
        prosecution in the event of a cyberattack. Therefore, the operator of the application may statistically
        analyze this anonymously collected data and information with the aim of increasing data protection and
        data security in our company, to ultimately ensure an optimal level of protection for the personal data
        we process.
        <BR>
        <BR>
        <B>5.1. Collection of Personal Data and Information</B>
        <BR>
        <BR>
        If the user utilizes the services of the web application, the following personal data may also be processed:
        <UL>
            <LI  style="left-margin: 220px;">Personal Data in Database:
            <UL>
                <LI>Email address (for authentication)</LI>
                <LI>Last login (to ensure IT security and session management)</LI>
                <LI>Group membership (for authorization)</LI>
                <LI>Profile settings (functionality of the offer)</LI>
                <LI>Hash value for avatar</LI>
                <LI>Notification settings</LI>
                <LI>Projects marked as favorites (functionality of the offer)</LI>
                <LI>Recently visited projects (functionality of the offer)</LI>
                <LI>Findings where the respective user was the last author, including editing date, solution proposal,
                    and possibly comment (functionality of the offer)</LI>
                <LI>Session key (functionality of the offer)</LI>
            </UL>
            </LI>
            <LI>Personal Data in Logs
                <UL>
                    <LI>Email address/username is stored hashed (with salt) in the logs and can be identified if
                    necessary, e.g., for security reasons, with effort.</LI>
                    <LI>Logs are retained for a maximum of 30 days.</LI>
                    <LI>For failed login attempts to ensure IT security:
                        <ul>
                            <LI>Timestamp</LI>
                            <LI>Email address (username) / IP address</LI>
                        </ul>
                    </LI>
                    <LI>For internal server problems to track and fix technical issues:
                        <ul>
                            <LI>Timestamp</LI>
                            <LI>Email address (username) / IP address</LI>
                            <LI>Requested URL</LI>
                            <LI>Detailed error description</LI>
                        </ul>
                    </LI>
                    <LI>For access to unauthorized/non-existing resources to ensure IT security:
                        <ul>
                            <LI>Timestamp</LI>
                            <LI>Email address (username) / IP address</LI>
                            <LI>Resource</LI>
                        </ul>
                    </LI>
                </UL>
            </LI>
        </UL>
        <BR>
        <BR>
        <B>6. Deletion Policy</B>
        <BR>
        <BR>
        As a principle, personal data should only be stored as long as necessary. If the legal basis for
        the collection of personal data no longer applies for the affected person, a short written notification to
        operator of the application is sufficient. See <A HREF="../contact">contact</A>.
        <BR>
        <BR>
        All data associated with the affected user will then be deleted (see chapter: Personal Data in Database).
        If the affected person is connected to data that cannot or should not be deleted, they will be anonymized.
        Free texts can reveal information that may lead back to the affected person. As a result,
        they cannot be automatically deleted.
        <BR>
        <BR>
        If the user wishes to anonymize these free texts, this request can also be communicated through
        the above-mentioned address.
        <BR>
        <BR>
        <B>7. Rights of the Data Subject</B>
        <BR>
        <BR>
        <I>a) Right to confirmation</I>
        <BR>
        <BR>
        Every data subject has the right granted by the European legislator to obtain
        confirmation from the controller as to whether or not personal data concerning them is being
        processed. If a data subject wishes to exercise this right of confirmation for the web
        application SecureCheckPlus by Accso, they may, at any time, contact the operator of the application.
        <BR>
        <BR>
        <I>b) Right of access</I>
        <BR>
        <BR>
        Every data subject affected by the processing of personal data has the right, granted by
        the European legislator, to obtain, at any time, free information from the controller about the
        personal data stored about them and a copy of this information. The European legislator also
        granted the data subject access to the following information:
        <OL>
            <LI>The purposes of the processing</LI>
            <LI>The categories of personal data being processed</LI>
            <LI>The recipients or categories of recipients to whom the personal data has been or will be disclosed,
                in particular recipients in third countries or international organizations</LI>
            <LI>If possible, the planned duration for which the personal data will be stored, or, if not possible,
                the criteria used to determine that period</LI>
            <LI>The existence of a right to request rectification or erasure of personal data or restriction of
                processing of personal data concerning the data subject or to object to such processing</LI>
            <LI>The existence of a right to lodge a complaint with a supervisory authority</LI>
            <LI>If the personal data is not collected from the data subject,
                any available information as to their source</LI>
            <LI>The existence of automated decision-making, including profiling, as referred to in
                Article 22(1) and (4) of the GDPR and, at least in those cases, meaningful information
                about the logic involved, as well as the significance and the envisaged consequences
                of such processing for the data subject</LI>
        </OL>
        Moreover, the data subject has the right to obtain information as to whether personal
        data is transferred to a third country or to an international organization. Where this is the
        case, the data subject shall have the right to be informed of the appropriate safeguards
        relating to the transfer.
        <BR>
        <BR>
        If a data subject wishes to exercise this right of access for the web application SecureCheckPlus by Accso,
        they may, at any time, contact the operator of the application.
        <BR>
        <BR>
        c) Right to rectification
        <BR>
        <BR>
        Every data subject affected by the processing of personal data has the right, granted by
        the European legislator, to obtain from the controller without undue delay the rectification of
        inaccurate personal data concerning them. Taking into account the purposes of the processing,
        the data subject shall have the right to have incomplete personal data completed, including by
        means of providing a supplementary statement.
        <BR>
        <BR>
        If a data subject wishes to exercise this right of rectification for the web application
        SecureCheckPlus by Accso, they may, at any time, contact the operator of the application.
        <BR>
        <BR>
        d) Right to erasure (Right to be forgotten)
        <BR>
        <BR>
        Every data subject affected by the processing of personal data has the right, granted by
        the European legislator, to obtain from the controller the erasure of personal data concerning
        them without undue delay where one of the following grounds applies, as long as the processing
        is not necessary:
        <BR>
        <BR>
        <OL>
            <LI>The personal data is no longer necessary in relation to the purposes for
                which they were collected or otherwise processed.</LI>
            <LI>The data subject withdraws consent on which the processing is based according to
                point (a) of Article 6(1) of the GDPR or point (a) of Article 9(2) of the GDPR,
                and where there is no other legal ground for the processing.</LI>
            <LI>The data subject objects to the processing pursuant to Article 21(1) of the GDPR and
                there are no overriding legitimate grounds for the processing, or the data subject objects
                to the processing pursuant to Article 21(2) of the GDPR.</LI>
            <LI>The personal data has been unlawfully processed.</LI>
            <LI>The personal data must be erased for compliance with a legal obligation in
                Union or Member State law to which the controller is subject.</LI>
            <LI>The personal data has been collected in relation to the offer of
                information society services referred to in Article 8(1) of the GDPR.</LI>
        </OL>
        <BR>
        If one of the aforementioned reasons applies, and a data subject wishes to request the
        erasure of personal data stored by the operator of the application, they may, at any time,
        contact the operator of the application.
        An employee of the operator shall promptly ensure that the erasure request is complied with.
        <BR>
        <BR>
        Where the operator of this application has made personal data public and is obliged pursuant to
        Article 17(1) of the GDPR to erase the personal data, the operator of the application,
        taking account of available technology and the cost of implementation, shall take reasonable steps,
        including technical measures, to inform other controllers processing the published personal data
        that the data subject has requested erasure by such controllers of any links to, or copy or replication of,
        those personal data, as far as processing is not required.
        An employee of the operator will take the necessary measures in individual cases.
        <BR>
        <BR>
        <I>e) Right to restriction of processing</I>
        <BR>
        <BR>
        Every data subject affected by the processing of personal data has the right, granted by
        the European legislator, to obtain from the controller restriction of processing where one of the
        following applies:
        <BR>
        <BR>
        <OL>
            <LI>The accuracy of the personal data is contested by the data subject, for a period enabling the
                controller to verify the accuracy of the personal data.</LI>
            <LI>The processing is unlawful and the data subject opposes the erasure of the personal
                data and requests instead the restriction of their use.</LI>
            <LI>The controller no longer needs the personal data for the purposes of the processing,
                but they are required by the data subject for the establishment, exercise,
                or defense of legal claims.</LI>
            <LI>The data subject has objected to processing pursuant to Article 21(1) of
                the GDPR pending the verification of whether the legitimate grounds of the controller
                override those of the data subject.</LI>
        </OL>
        <BR>
        If one of the aforementioned conditions is met and a data subject wishes to request the
        restriction of personal data stored by the operator of the application, they may, at any time,
        contact the operator. An employee of the operator will arrange for the restriction of processing.
        <BR>
        <BR>
        <I>f) Right to data portability</I>
        <BR>
        <BR>
        Every data subject affected by the processing of personal data has the right, granted by
        the European legislator, to receive the personal data concerning them, which they have provided
        to a controller, in a structured, commonly used, and machine-readable format. They have the right
        to transmit those data to another controller without hindrance from the controller to which the
        personal data has been provided, as long as the processing is based on consent pursuant to point
        (a) of Article 6(1) of the GDPR or point (a) of Article 9(2) of the GDPR, or on a contract
        pursuant to point (b) of Article 6(1) of the GDPR, and the processing is carried out by automated
        means, as long as the processing is not necessary for the performance of a task carried out in
        the public interest or in the exercise of official authority vested in the controller.
        <BR>
        <BR>
        Furthermore, in exercising their right to data portability pursuant to Article 20(1) of the GDPR,
        the data subject shall have the right to have personal data transmitted directly
        from one controller to another, where technically feasible and when doing so
        does not adversely affect the rights and freedoms of others.
        <BR>
        <BR>
        To assert the right to data portability, the data subject may at any time contact
        the operator of the application.
        <BR>
        <BR>
        <I>g) Right to object</I>
        <BR>
        <BR>
        Every data subject affected by the processing of personal data has the right, granted by
        the European legislator, to object, on grounds relating to their particular situation, at any
        time, to processing of personal data concerning them, which is based on point (e) or (f) of
        Article 6(1) of the GDPR. This also applies to profiling based on these provisions.
        <BR>
        <BR>
        The operator of the application shall no longer process the personal data in the event of the objection,
        unless we can demonstrate compelling legitimate grounds for the processing which override the interests,
        rights, and freedoms of the data subject, or for the establishment, exercise, or defense of legal claims.
        <BR>
        <BR>
        If operator of the application processes personal data for direct marketing purposes, the data subject
        shall have the right to object at any time to processing of personal data concerning them for such marketing.
        This applies to profiling to the extent that it is related to such direct marketing.
        If the data subject objects to operator of the application for direct marketing purposes,
        the operator of the application will no longer process the personal data for these purposes.
        <BR>
        <BR>
        In addition, the data subject has the right to object, on grounds relating to their particular situation,
        to processing of personal data concerning them which is carried out by the operator of the application
        for scientific or historical research purposes, or for statistical purposes pursuant to
        Article 89(1) of the GDPR, unless the processing is necessary for the
        performance of a task carried out for reasons of public interest.
        <BR>
        <BR>
        To exercise the right to object, the data subject may directly contact the operator of the application.
        Additionally, the data subject is free to exercise their right to object in the context of the use of
        information society services, and notwithstanding Directive 2002/58/EC,
        by automated means using technical specifications.
        <BR>
        <BR>
        <I>h) Automated individual decision-making, including profiling</I>
        <BR>
        <BR>
        No automated individual decision-making, including profiling, takes place.
        <BR>
        <BR>
        <I>i) Right to withdraw data protection consent</I>
        <BR>
        <BR>
        Every data subject affected by the processing of personal data has the right, granted by
        the European legislator, to withdraw consent to the processing of their personal data at any time.
        If the data subject wishes to exercise the right to withdraw consent,
        they may at any time contact the operator of the application.
        <BR>
        <BR>
        <B>8. Legal basis for the processing</B>
        <BR>
        <BR>
        The legal basis is Article 6 of the GDPR - Lawfulness of processing paragraph 1.
        A legitimate interest exists because a significant and appropriate relationship exists between the
        data subject and the operator of the application.
        The collection of personal data only takes place when using the web application. To use the web
        application correctly, the controller or the application of the application must be able to process
        personal data.
        <BR>
        <BR>
        The processing of personal data to the extent necessary for the prevention of fraud also constitutes
        a legitimate interest of the controller.
        <BR>
        <BR>
        <B>9. Duration for which personal data is stored</B>
        <BR>
        <BR>
        Personal data is only stored as long as it is in use.
        If the legal basis expires, such as through the right to deletion, the personal data will be deleted
        according to the deletion policy (see paragraph 6: Deletion Policy).
        <BR>
        <BR>
        <B>10. Subcontractors</B>
        <BR>
        <BR>
        We use the following hosting provider(s) for providing our website:
        <BR>
        <BR>
        <I>The contact information of all contractors should be listed here.</I>
        <BR>
    </TD>
</TR>
</TABLE>
